

.OtherUser{
    overflow-y: auto;
    height: 100vh;
    
    background-color: red;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(240, 84, 84, 0.8);
}

h3{
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 15px 0px;
    color: #F5F5F5;
}


.profileright{
    padding: 15px;
    display: inline-block;
    white-space: nowrap;
    width: 96%;
    overflow: hidden;
    position: sticky;
    top: 2rem;
}

.profileleft {
    overflow-y: auto;
    box-sizing: border-box;
  }

.profileright {
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }

@media screen and (max-width: 600px) {
    .users{
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: auto;
    }
}
